#text{
    font-size: 25px;
    font-family: "楷体";
    width: 1500px;
    margin: 0 auto;
}
#controls{
    float: top;
    background-color: aliceblue;
    margin: 0px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
#img1{
    float: right;
}
#img2{
    float: left;
}
#back-button{
    color: black;
    text-align: center;
}
#footer{
	background-color: darkblue;
	padding: 10px;
	text-align: center;
}
#footer a,#footer p{
	color: white;
}